:root {
    --color1: #2d2d2d;
    --color2: #626262;
    --color3: #818181;
    --color4: #adacac;
    --color5: #e5e4e4;
    --color6: #BF213E;
    --color7: #F28599;
    --color8: #D90479;
    --color9: #6F2A8C;
    --color10: #F2F2F2;
}
body {
    font-family: "Noto Sans Batak", sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 130px;
    width: 130px;
}

nav {
    margin-right: 20px; /* Abstand zwischen Navigationsleiste und rechtem Rand */
}

.caption-container {
    display: flex;
}

.caption-container a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    margin-right: 20px; /* Erhöht den Abstand zwischen den Links */
    transition: padding-bottom 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.caption-container a:hover {
    padding-bottom: 6px;
    border-bottom-color: black;
    border-bottom-width: 3px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: var(--color9);
    text-decoration: underline;
}
h1 {
    color: var(--color1);
    padding: 20px;
    font-family: "Playfair Display", serif;
}
h2 {
    font-family: "Playfair Display", serif;
    color: var(--color1);
    padding: 20px;
}

/* disclaimer start */

ul.resource-list {
    list-style-type: disc;
    margin-left: 20px;
}

ul.resource-list li {
    margin-bottom: 15px; /* Erhöht den Abstand zwischen den Listenelementen */
}

/* timeline start */

.timeline {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("../pics/trees.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--color4);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 2;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--color4);
    border: 4px solid var(--color1);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}
.content h2, p {
    margin: 20px;
}
/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: var(--color5);
    position: relative;
    border-radius: 6px;
}
.content:hover {
    background-color: rgba(217, 4, 121, 0.6);
}

/* timeline end */

/* carousel start */

.carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 1fr; /* Zwei zusätzliche Spalten hinzugefügt */
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 10; /* Die Grid-Spalten auf 10 erweitern */
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 7; /* Anzahl der Elemente */
    --middle: 4; /* Mittleres Element */
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    padding: 30px;
}


div.item:nth-of-type(1) {
    --offset: 1;
    background-color: var(--color5);
}
div.item:nth-of-type(2) {
    --offset: 2;
    background-color: var(--color4);
}
div.item:nth-of-type(3) {
    --offset: 3;
    background-color: var(--color5);
}
div.item:nth-of-type(4) {
    --offset: 4;
    background-color: var(--color4);
}
div.item:nth-of-type(5) {
    --offset: 5;
    background-color: var(--color5);
}
div.item:nth-of-type(6) {
    --offset: 6;
    background-color: var(--color4);
}
div.item:nth-of-type(7) {
    --offset: 7;
    background-color: var(--color5);
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}
input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
}
input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
}

/* carousel end */

/* Über uns start */
.flex {
    display: flex;
}

.absatz1,
.absatz2 {
    flex: 1;
    padding: 0 10px;
}

.absatz1 h3,
.absatz2 h3 {
    margin-top: 0;
}

/* Über uns end */

.welcometext-container {
    text-align: left;
    font-family: Playfair Display, sans-serif;
    background-color: var(--color4);
    padding: 25px;
    margin: 20px;
    border-radius: 40px;
}
.caption-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
}
.caption-container a {
    color: var(--color1);
    text-decoration: none;
    font-size: x-large;
}
.image-container img {
    height: 300px;
    object-fit: contain;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 130px;
}
h1 {
    font-size: xx-large;
    color: var(--color1);
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    background-color: var(--color2);
    border-radius: 10px;
    gap: 20px;
}
.grid-container h1 {
    text-align: center;
}
.grid-item img {
    width: 100%;
}

/* start of table settings */
th {
    color: var(--color2);
    text-align: left;
    font-size: 30px;
}
.table {
    margin: 0 auto;
}
table {
    width: 100%;
}
table, th, td, tr {
    border-bottom: none;
    padding: 10px;
}
table, td {
    background-color: var(--color4);
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 10px;
    border-radius: 30px;
}
/* end of table settings */

footer {
    background-color: var(--color5);
    font-family: Playfair Display, sans-serif;
    color: var(--color3);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
@media (min-width: 50em) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .pieces {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}